<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>所有主题</title>
</head>
<body>
    {% extends "learning_logs/base.html" %}
    {% block content %}
    <p>主题（Topics）</p>
    <ul>
        {% for topic in topics %}
            <li>
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a>
            </li>
        {% empty %}
            <li>还没有主题被添加</li>
        {% endfor %}
    </ul>

    <a href="{% url 'learning_logs:new_topic' %}">新增一个主题</a>

    {% endblock content %}
</body>
</html>